.Contactme {
    background-color: black;
    background-image: url("Images/bg/@.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 80%;
  }
  
  .Contact-text {
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
  }
  
  .text-large {
    font-size: 50px;
    font-family: 'Righteous', cursive;
    /* font-family: 'VT323', monospace; */
    color: aqua;
  }

  /* Style inputs with type="text", select elements and textareas */
  input[type="text"],
  select,
  textarea,
  input[type="email"] {
    width: 40%; /* Full width */
    padding: 20px; /* Some padding */
    margin: 10px;
    border: 2px solid aqua;
    font-size: 15px;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    color: white;
    background-color: black;
    min-width: 250px;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type="submit"] {
    color: aqua;
    margin: 20px 0px;
    padding: 12px 20px;
    border: 2px solid aqua;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type="submit"]:hover {
    background-color: aqua;
    color: black;
  }
  
  /* Add a background color and some padding around the form */
  .container form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
  }
  
  .sub {
    width: 40%;
    min-width: 250px;
    display: flex;
    justify-content: right;
    align-items: center;
  }


  .follow {
    color: white;
    text-align: center;
    margin: auto 10px;
  }

  .drop-down{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.icon{
    width: 50px;
    padding-right: 20px;
}

.img-zoom {
    transition: transform 0.4s;
}
  
.img-zoom:hover {
    transform: scale(1.3);
    cursor: pointer;
}